<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8"> -->
		<!-- Import CDNs -->
		<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
            <!-- Import CDNs -->
            <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
                <!-- Import local files -->
                <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
            </head>
            <body>
          <div class="container">
          		<div class="row">
                <h1>Current Articles</h1>
                <ul>
                    <li>
                        <h2>
                            <a href='http://www.latimes.com/nation/la-na-court-transgender-20160803-snap-story.html'>Los estamos logrando</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b496">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b496">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nbcnews.com/politics/2016-election/trump-not-first-claim-voter-fraud-will-rig-elections-n622421'>Vamos por lo nuestro</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b494">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b494">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.washingtonpost.com/news/powerpost/paloma/daily-202/2016/08/03/daily-202-paul-ryan-s-trump-dilemma-has-gotten-much-much-worse/57a16d16cd249a68be7adb8e/'>The Daily 202: Paul Ryan&#x27;s Trump dilemma has gotten much, much worse</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b497">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b497">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.washingtonpost.com/politics/obama-just-commuted-the-sentences-of-a-record-number-of-inmates/2016/08/03/591e3a38-59a2-11e6-9aee-8075993d73a2_story.html'>Obama just commuted the sentences of a record number of inmates</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b495">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b495">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/politics/us-sends-plane-iran-400-million-cash/'>US sent plane with $400 million in cash to Iran</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b498">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b498">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.reuters.com/article/us-emirates-airplane-crash-idUSKCN10E0Z7'>Fire guts Emirates jet after hard landing; one firefighter dies</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b499">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b499">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://in.reuters.com/article/us-storm-earl-nhc-idINKCN10E1DN'>Hurricane Earl nears Belize, dumping rains on Honduras</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b49a">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b49a">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nytimes.com/aponline/2016/08/03/world/middleeast/ap-ml-saudi-india-laborers.html'>Top Indian Official: Saudi Arabia to Help Stranded Workers</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b49b">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b49b">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.reuters.com/article/us-libya-security-sirte-idUSKCN10E2LA'>US strikes easing advance against Islamic State in Sirte, says commander</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b49c">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b49c">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nytimes.com/aponline/2016/08/03/world/middleeast/ap-ml-syria-surviving-aleppo.html'>Battle for Aleppo a Pivotal Moment for Besieged Residents</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b49d">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b49d">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.foxnews.com/us/2016/08/03/penalties-possible-for-campers-in-massive-big-sur-blaze.html'>Penalties possible for campers in massive Big Sur blaze</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b49e">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b49e">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/politics/dc-transit-officer-charged-with-aiding-isis/'>DC transit police officer charged with aiding ISIS</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b49f">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b49f">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.wsbtv.com/news/local/north-fulton-county/roswell-pd-executes-search-warrant-at-home-in-connection-to-teens-murder/416306567'>Man charged with murder in deaths of Roswell teens</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a0">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a0">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.philly.com/philly/news/nation_world/20160803_ap_2dead540ee4640d4b10eca59838d04f3.html'>NTSB investigators begin probing fatal California bus crash</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a1">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a1">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nytimes.com/2016/08/04/us/politics/how-donald-trump-and-president-obama-put-republicans-in-a-bind.html'>How Donald Trump and President Obama Put Republicans in a Bind</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a2">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a2">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.washingtonpost.com/politics/clinton-and-trump-lay-groundwork-for-pitched-battle-over-colorado/2016/08/03/2078fdcc-593d-11e6-9aee-8075993d73a2_story.html'>Clinton and Trump lay groundwork for pitched battle over Colorado</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a3">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a3">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.slate.com/articles/news_and_politics/politics/2016/08/_10_vile_things_donald_trump_has_said_since_the_gop_convention.html'>There Is No Trump “Pivot.” Here Are 10 Vile Things He Has Said Since the GOP Convention.</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a4">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a4">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.washingtonpost.com/news/post-nation/wp/2016/08/03/texas-agrees-to-modify-voter-id-law-for-november-election/'>Texas agrees to modify voter-ID law for November election</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a5">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a5">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.hollywoodreporter.com/news/21st-century-fox-stock-rises-916960'>21st Century Fox Stock Rises After Posting Mixed Quarterly Earnings</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a6">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a6">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.wsj.com/articles/jet-com-eyes-an-exit-short-of-its-audacious-goal-1470259984'>Jet.com Eyes an Exit Short of Its Audacious Goal</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a7">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a7">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://money.cnn.com/2016/08/03/news/companies/sturm-ruger-guns-hillary-clinton/'>Gun CEO worries about Hillary Clinton as president</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a8">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a8">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://in.reuters.com/article/goldman-sachs-fed-idINKCN10E1Z0'>Fed penalizes Goldman Sachs for use of confidential data</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4a9">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4a9">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.theverge.com/2016/8/3/12364758/facebook-area-404-hardware-lab-oculus-drones-internet-org'>Facebook&#x27;s new hardware lab is built for Oculus and internet drones</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4aa">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4aa">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.bbc.com/news/technology-36966949'>Vibrations bring still photos to life</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4ab">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4ab">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://techcrunch.com/2016/08/03/youtube-kids-rolls-out-an-ad-free-option/'>YouTube Kids rolls out an ad-free option</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4ac">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4ac">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.macrumors.com/2016/08/03/apple-diversity-2016/'>Apple&#x27;s Workforce is Slightly More Diverse This Year</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4ad">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4ad">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.people.com/people/article/0,,21012539,00.html'>Here Are The Bachelorette Villain Chad Johnson&#x27;s Craziest Antics, Ever</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4ae">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4ae">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.eonline.com/news/784976/is-dc-getting-a-raw-deal-fans-aren-t-accepting-bad-suicide-squad-reviews-without-a-fight'>Is DC Getting a Raw Deal? Fans Aren&#x27;t Accepting Bad Suicide Squad Reviews Without a Fight</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4af">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4af">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://io9.gizmodo.com/scorpius-malfoy-saves-harry-potter-and-the-cursed-child-1784785548'>Scorpius Malfoy Saves Harry Potter and the Cursed Child From Itself</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b0">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b0">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.people.com/people/article/0,,21022193,00.html'>America&#x27;s Got Talent Contestant Shot in the Throat by a Flaming Arrow in Stunt Gone Wrong</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b1">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b1">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/sports/olympics/rio-2016/2016/08/03/brazil-soccer-neymar-germany-world-cup/87992382/'>There&#x27;s one Olympic victory Brazilians want most</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b2">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b2">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/sports/olympics/rio-2016/2016/08/03/usa-track-and-field-olympics-preview-justin-gatlin-ashton-eaton-allyson-felix-bernard-lagat/88001070/'>USA should again be the team to beat in Olympic track and field</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b3">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b3">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/sports/olympics/2016/08/03/ioc-approves-addition-of-5-sports-for-2020-tokyo-olympics/88035700/'>IOC approves addition of 5 sports for 2020 Tokyo Olympics</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b4">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b4">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.foxsports.com/nfl/story/birthday-boy-patriots-celebrate-brady-turning-39-080316'>Birthday boy: Patriots celebrate Brady turning 39 (Aug 3, 2016)</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b5">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b5">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://fivethirtyeight.com/features/womens-olympic-soccer-preview-is-there-a-threat-to-the-u-s-womens-reign/'>Women&#x27;s Olympic Soccer Preview: Is There A Threat To The U.S. Reign?</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b6">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b6">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.theguardian.com/sport/2016/aug/02/olympic-games-2016-rio-human-rights'>Olympic Games 2016: how Rio missed the gold medal for human rights</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b7">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b7">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.bbc.co.uk/sport/olympics/36965024'>Rio Olympics 2016: Games begin with Sweden women&#x27;s football win</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b8">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b8">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.bbc.com/sport/olympics/36951809'>Rio Olympics 2016: Football kicks off Games before opening ceremony</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4b9">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4b9">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.livescience.com/55642-reprogrammable-quantum-computer-created.html'>First Reprogrammable Quantum Computer Created</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4ba">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4ba">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.newsweek.com/climate-change-high-environmental-records-487031'>Climate Change Created Shocking Environmental Records in 2015</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4bb">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4bb">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.smithsonianmag.com/science-nature/solving-mystery-mammoth-proportions-180959992/'>Solving a Mystery of Mammoth Proportions</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4bc">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4bc">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.npr.org/sections/thetwo-way/2016/08/03/488564433/mo-money-mo-bug-problems-wealthier-homes-are-rich-in-insects-too'>Mo&#x27; Money, Mo&#x27; Bug Problems: Wealthier Homes Are Rich In Insects Too</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4bd">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4bd">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/health/human-trials-zika-vaccine/'>Human trials begin for Zika vaccines</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4be">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4be">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://consumer.healthday.com/women-s-health-information-34/misc-women-s-problem-news-707/women-s-heart-risk-factors-rise-before-menopause-713528.html'>Heart Risk Factors Rise Before Menopause</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4bf">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4bf">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usnews.com/news/news/articles/2016-08-03/can-house-dust-explain-why-amish-protected-from-asthma'>Can house dust explain why Amish protected from asthma?</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4c0">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4c0">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cidrap.umn.edu/news-perspective/2016/08/another-case-local-zika-infection-confirmed-miami'>Another case of local Zika infection confirmed in Miami</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e4ec92409165e70b4c1">
		</ul>
                        <div class='commentArea' data-id="57a26e4ec92409165e70b4c1">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.blabbermouth.net/news/ozzy-osbourne-mistress-michelle-pugh-sues-kelly-osbourne/'>OZZY OSBOURNE&#x27;s Mistress MICHELLE PUGH Sues KELLY OSBOURNE</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e79cd03471663ece31b">
		</ul>
                        <div class='commentArea' data-id="57a26e79cd03471663ece31b">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.marketwatch.com/story/forget-the-opening-ceremonies-the-olympic-games-start-today-2016-08-03'>Forget the opening ceremonies — the Olympic Games start today</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e79cd03471663ece31c">
		</ul>
                        <div class='commentArea' data-id="57a26e79cd03471663ece31c">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://health.usnews.com/health-care/articles/2016-08-03/amish-lifestyle-brings-unexpected-benefit-less-asthma'>Amish Lifestyle Brings Unexpected Benefit: Less Asthma</a>
                        </h2>
                        <ul class="list-group" data-id="57a26e79cd03471663ece31d">
		</ul>
                        <div class='commentArea' data-id="57a26e79cd03471663ece31d">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/politics/donald-trump-message-florida/'>Amid GOP distress, Trump gets on message -- briefly</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25191">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25191">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/politics/supreme-court-transgender-bathroom/'>Supreme Court temporarily blocks order on transgender bathroom use</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25192">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25192">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.thedailybeast.com/cheats/2016/08/03/report-one-dead-in-london-knife-attack.html'>Report: One Dead In London Knife Attack</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25193">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25193">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.washingtonpost.com/world/national-security/was-the-400-million-in-cash-paid-after-the-iran-prisoner-deal-really-ransom/2016/08/03/569f855e-59a8-11e6-9aee-8075993d73a2_story.html'>Was the $400 million in cash paid after the Iran prisoner deal really ransom?</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25194">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25194">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.washingtonpost.com/news/wonk/wp/2016/08/03/the-big-problem-with-obamas-push-to-commute-lots-of-prison-sentences/'>The problem with Obama&#x27;s big push to commute prison sentences</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25195">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25195">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cbsnews.com/news/japan-north-korea-missile-launch-unforgivable-act-of-violence/'>Japan: North Korea missile launch an &quot;unforgivable act of violence&quot;</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25196">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25196">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/middleeast/dubai-airport-emirates-flight-emergency-landing/'>Emirates plane catches fire in Dubai; hundreds escape, 1 firefighter killed</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25197">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25197">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nytimes.com/2016/08/04/world/middleeast/saudi-arabia-india-workers.html'>Saudi Arabia Agrees to Help Stranded Workers, India Says</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25198">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25198">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/middleeast/syria-aleppo/'>Syrian rebels push to break siege in Aleppo</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b25199">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b25199">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.un.org/apps/news/story.asp?NewsID&#x3D;54616'>Ban reiterates strong condemnation of &#x27;heinous&#x27; crimes committed by ISIL in Sinjar</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b2519a">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b2519a">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://abcnews.go.com/US/dc-metro-cop-arrested-allegedly-assist-isis/story?id&#x3D;41089376'>DC Metro Transit Cop Appears in Court for Allegedly Trying to Assist ISIS</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b2519b">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b2519b">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.bloomberg.com/news/articles/2016-08-02/u-s-criminal-fine-sought-against-pg-e-slashed-to-6-million'>PG&amp;E Defies CEO&#x27;s Doomsaying as U.S. Backs Off Criminal Fine</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b2519c">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b2519c">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nydailynews.com/news/politics/pols-milk-bratton-leave-forces-de-blasio-change-nypd-reform-article-1.2737606'>Pols milk Bratton&#x27;s leave, forces de Blasio to change NYPD reform</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b2519d">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b2519d">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.washingtontimes.com/news/2016/aug/3/the-latest-trump-claims-unity-in-his-campaign/'>The Latest: Mike Pence says Trump is unstoppable</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b2519e">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b2519e">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.inverse.com/article/18992-things-look-for-black-hat-usa-2016'>5 Things to Look for at Black Hat USA &#x27;16 if You Can&#x27;t Go</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b2519f">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b2519f">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://host.madison.com/news/nation/government-and-politics/walker-won-t-attend-trump-campaign-stop-in-wisconsin/article_b7c10b39-4495-58fc-9f58-ef2133d5a227.html'>Walker won&#x27;t attend Trump campaign stop in Wisconsin</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a0">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a0">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nytimes.com/2016/08/04/us/politics/us-seeks-to-protect-voting-system-against-cyberattacks.html'>US Seeks to Protect Voting System Against Cyberattacks</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a1">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a1">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnbc.com/2016/08/03/tesla-reports-second-quarter-earnings.html'>Tesla misses Wall Street targets, but logs gains in vehicle production</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a2">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a2">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://money.cnn.com/2016/08/03/media/fox-news-roger-ailes-murdochs/'>Fox News voice not changing despite Ailes&#x27; departure, but questions linger</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a3">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a3">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.bostonglobe.com/business/2016/08/03/time-warner-acquires-percent-stake-hulu/uqkvcs9iWBhwPLSQY7oa2L/story.html'>Time Warner acquires 10 percent stake in Hulu</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a4">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a4">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.droid-life.com/2016/08/02/buy-galaxy-note-7/'>Galaxy Note 7 Availability and Pricing (Updated)</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a5">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a5">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnet.com/au/news/apple-mends-the-pay-gap-for-women-and-minorities/'>Apple says it&#x27;s mended the pay gap for women and minorities</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a6">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a6">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://adage.com/article/agency-news/publicis-ceo-maurice-levy-people-highest-level-set/305306/'>Publicis CEO Maurice Levy on Kevin Roberts&#x27; Exit: Highest Levels Set the Example</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a7">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a7">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnet.com/how-to/10-tips-for-getting-started-with-dropbox-paper/'>​10 tips for getting started with Dropbox Paper</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a8">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a8">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.eonline.com/news/785076/kris-jenner-is-shook-up-after-car-accident'>Kris Jenner Is &#x27;&#x27;Shook Up&#x27;&#x27; After Car Accident</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251a9">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251a9">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.ew.com/article/2016/08/03/mariah-carey-tca'>Mariah Carey slays TCA: Her 13 best quotes</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251aa">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251aa">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.pcworld.com/article/3104049/wearables/intel-issues-a-full-recall-over-basis-peak-fitness-watches-that-may-burn-you.html'>Intel issues a full recall over Basis Peak fitness watches that may burn you</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251ab">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251ab">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.eonline.com/news/784969/need-to-study-for-those-o-w-l-exams-here-s-a-supercut-of-every-harry-potter-spell-to-help-you-out'>Need to Study for Those O.W.L. Exams? Here&#x27;s a Supercut of Every Harry Potter Spell to Help You Out</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251ac">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251ac">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.eonline.com/news/784884/chris-harrison-on-kicking-chad-johnson-off-bachelor-in-paradise-he-really-pissed-me-off'>Chris Harrison on Kicking Chad Johnson Off Bachelor in Paradise: &quot;He Really Pissed Me Off&quot;</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251ad">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251ad">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.sbnation.com/soccer/2016/8/3/12371870/us-soccer-new-zealand-2016-results-olympics-soccer-score'>USWNT coasts to 2-0 win over New Zealand in Olympic opener</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251ae">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251ae">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.sbnation.com/2016/8/3/12351142/olympics-basketball-2016-rio-rankings-france-spain-brazil'>No country can beat Team USA basketball in Rio, but we ranked their chances anyway</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251af">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251af">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/sports/nfl/2016/08/03/birthday-boy-patriots-celebrate-brady-turning-39/88037130/'>Birthday boy: Patriots celebrate Brady turning 39</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b0">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b0">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.foxsports.com.au/football/socceroos/live-2016-rio-olympics-football-matildas-v-canada/news-story/121c8e270ec2ada26e3a863047f6b4c4'>Live 2016 Rio Olympics football: Matildas v Canada</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b1">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b1">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='https://www.olympic.org/news/ioc-approves-five-new-sports-for-olympic-games-tokyo-2020'>IOC approves five new sports for Olympic Games Tokyo 2020</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b2">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b2">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.scientificamerican.com/article/2015-set-a-frenzy-of-climate-records/'>2015 Set a Frenzy of Climate Records</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b3">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b3">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://health.usnews.com/health-care/articles/2016-08-03/sickle-cell-trait-not-linked-to-early-death-in-study'>Sickle Cell Trait Not Linked to Early Death in Study</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b4">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b4">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.nytimes.com/2016/08/04/us/zika-florida-miami-tourism.html'>US|Florida&#x27;s $82 Billion Tourism Industry Braces for Zika</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b5">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b5">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.webmd.com/rheumatoid-arthritis/news/20160801/generic-biologic-drugs-seem-as-effective-as-originals'>Generic Biologic Drugs Seem as Effective as Originals</a>
                        </h2>
                        <ul class="list-group" data-id="57a29d397e3f801737b251b6">
		</ul>
                        <div class='commentArea' data-id="57a29d397e3f801737b251b6">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.reuters.com/article/us-usa-election-idUSKCN10E1GL'>Fury at top of Republican Party over Trump snub of House speaker</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f1">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f1">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://in.reuters.com/article/northkorea-missile-un-idINKCN10E1WQ'>US envoy hits back at suggestion US provoked North Korea</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f2">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f2">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/weather/2016/08/03/phoenix-arizona-monsoon-storm-floods/88002936/'>Arizona monsoon rain a &#x27;1-in-100&#x27; year storm, latest historic storm in USA</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f3">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f3">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.cnn.com/2016/08/03/politics/paul-ryan-paul-nehlen-donald-trump/'>Pence, Trump diverge on Ryan support</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f4">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f4">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.reuters.com/article/us-tesla-results-idUSKCN10E2J1'>Tesla posts another loss, but says on track for future deliveries</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f5">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f5">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/sports/olympics/2016/08/03/us-women-beats-new-zealand-2-0-in-olympic-soccer-tournament/88048638/'>US women beats New Zealand 2-0 in Olympic soccer tournament</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f6">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f6">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.latimes.com/entertainment/envelope/cotown/la-et-ct-olympics-nbc-20160803-snap-story.html'>Olympics are expected to bring ratings gold to NBC despite problems in Rio</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f7">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f7">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <h2>
                            <a href='http://www.usatoday.com/story/sports/olympics/rio-2016/2016/08/03/usa-blanks-new-zealand-womens-soccer-olympics-group-play-opener/88047344/'>US women&#x27;s soccer team blanks New Zealand in Olympic opener</a>
                        </h2>
                        <ul class="list-group" data-id="57a29ead290962174623e8f8">
		</ul>
                        <div class='commentArea' data-id="57a29ead290962174623e8f8">
                            <button type="button" class="btn btn-default commentAdder">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </li>
                </ul>
    </div>
    </div>

                <script src="/assets/scripts/app.js"> </script>
            </body>
        </html><!-- script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
		<!-- Import local files -->
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
		<script src="/assets/scripts/app.js"> </script>
	</body>
</html> -->

