/*body {
	background-image: url("./images/gotaTwo.png");
	background-repeat: no-repeat;
}*/
}
.commentArea
{
	width: 500px;
}

.list-group-item
{
	width: 300px;
}

.glyphicon-minus
{
	float: center;
	color:black;
	cursor: pointer;
}

.glyphicon-minus:hover
{
	color: blue;

}